@if (Session.Count == 0)
{
    this.Response.Redirect("/");
    Session["intentosNoCredenciales"] += "1";
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8">
        <link rel="icon" href="~/Content/img/technics.png" />
        <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="~/Content/vendor/fontawesome-free/all.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/Content/main/sb-admin-2.css" />
        <link rel="stylesheet" href="~/Content/vendor/datatables/datatables.min.css" />
        <link rel="stylesheet" href="~/Content/main/Colores.css" />
        <link rel="stylesheet" href="~/Content/animate.css" />
        <link rel="stylesheet" href="~/Content/main/animation.css?v=0.4" />
        <link rel="stylesheet" href="~/Content/main.css" />
        <link rel="stylesheet" href="~/Content/Site.css" />
        <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script defer type="text/javascript" src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script defer type="text/javascript" src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
        <script defer type="text/javascript" src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script defer type="text/javascript" src="~/Scripts/js/sb-admin-2.min.js"></script>
        <script defer type="text/javascript" src="~/Scripts/vendor/datatables/datatables.min.js"></script>
        <script defer type="text/javascript" src="~/Scripts/sweetalert.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script defer src="https://kit.fontawesome.com/3ad4466773.js" crossorigin="anonymous"></script>
        <script defer type="text/javascript" src="~/Scripts/DashBoard/DashBoard.js"></script>
        <script defer src="/signalr/hubs"></script>
        
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul class="navbar-nav bg_fondo_dark sidebar sidebar-dark accordion" id="accordionSidebar">
                <li>
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../DashBoard/Index">
                        <span class="sidebar-brand-icon">
                            <img class="col-md-12" src="~/Content/img/logo_app.png" alt="Alternate Text" />
                        </span>
                    </a>
                </li>
                <li>
                    <hr class="sidebar-divider my-0">
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="../DashBoard/Index">
                        <i class="fas fa-chart-line"></i>
                        <span>Estadística</span>
                    </a>
                </li>
                <li>
                    <hr class="sidebar-divider">
                </li>
                <li>
                    <div class="sidebar-heading">
                        Tickets
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#newTicketModal">
                        <i class="fas fa-fw fa-plus-circle"></i>
                        <span>Nuevo Ticket</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-clock"></i>
                        <span>Pendientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-history"></i>
                        <span>Tickets Concluidos</span>
                    </a>
                </li>
                <li>
                    <hr class="sidebar-divider">
                </li>
            </ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <span class="badge badge-danger badge-counter">3+</span>
                                </a>     
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Notificaciones
                                    </h6>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="icon-circle bg_fondo_dark">
                                                    <i class="fas fa-file-alt text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">December 12, 2019</div>
                                                <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                            </div>
                                        </a>
                                    </div>
                                    
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                    <span class="badge badge-danger badge-counter">7</span>
                                </a>
                                <div class="dropdown-list dropdown-menu  dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Mensajes
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">
                                                Hi there! I am wondering if you can help me with a
                                                problem I've been having.
                                            </div>
                                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                </div>
                            </li>
                            <li>
                                <div class="h-100 border ml-5 mr-3"></div>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle align-middle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 text-gray-600 small text-uppercase font-weight-bold"> @Session["tipouser"].ToString() </span>
                                    <span><i class="fas fa-code fa-2x text_dark"></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right p-0 shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <div class="modal-header row bg_fondo_dark col-md-12 m-0">
                                        <div class="col-md-12 text-center mb-3">
                                            <i class="fas fa-user-circle fa-3x text-info"></i>
                                        </div>
                                        <div class="col-md-12 text-white small font-weight-bold px-0 text-center">
                                            @Session["nombre"].ToString()
                                        </div>
                                        <div class="col-md-12 small text-white-50">
                                            @Session["mail"].ToString()
                                        </div>
                                    </div>

                                    <a class="dropdown-item overflow-hidden" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <span class="icon text-danger"><i class="fas fa-sign-out-alt"></i></span>
                                        <span class="text">Salir</span>
                                    </a>

                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div id="homeBody" class="container-fluid bg-light">
                        @RenderBody()
                    </div>
                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span class="text-primary font-weight-bold"> &copy; Todos los derechos reservados @DateTime.Now.Year - Raci.TI</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg_fondo_dark">
                        <h5 class="modal-title text-white" id="exampleModalLabel">¿Listo para salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-primary btn-sm" href="../Process/Logout">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal" tabindex="-1" id="newTicketModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg_fondo_dark">
                        <h5 class="modal-title text-white"><b><i class="fas fa-file-alt text-danger"></i> Nuevo Ticket</b></h5>
                        <button type="button" class="close text-white-50" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="frmNewTicket" class="" method="post">
                        <div class="modal-body bg_fondo_tabla text_dark p-5">
                            
                            <div class="h6 col-md-12">
                                Seleccione el Tipo de Servicio.
                            </div>
                            <select id="tipoServicioSelect" class="custom-select custom-select-sm" required>
                            </select>
                            <div class="h6 col-md-12 mt-3">
                                Seleccione la Modalidad.
                            </div>
                            <select id="modalidadSelect" class="custom-select custom-select-sm" required>
                            </select>
                            <div id="helper-modalidad" class="invalid-feedback">Primero seleccione un Tipo de Servicio!</div>
                            <div class="h6 col-md-12 mt-3">
                                Seleccione la Empresa.
                            </div>
                            <select id="empresaSelect" class="custom-select custom-select-sm" required>
                            </select>
                            <div class="h6 col-md-12 mt-3">
                                Comentarios
                            </div>
                            <textarea cols="5" class="form-control form-control-sm" placeholder="Describa su problema"></textarea>
                        </div>
                        <div class="modal-footer bg_fondo_tabla">
                            <button type="button" class="btn btn-danger col" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success col">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="~/Scripts/SignalR/SignalR.js"></script>
    </body>
</html>
}